@media only screen and (max-width: 1024px) {
  .home-addpost-section {
    width: 100vw;
  }
  .posts-section {
    width: 92vw;
  }
}

@media only screen and (min-width: 1024px) {
  .home-addpost-section {
    width: 670px;
  }
  .posts-section {
    width: 620px;
  }
}


.post-container-div{
  /* width: 800px; */
}